{% extends 'layout.html' %}
{% block contenido %}
  {% load static %}

     <h1 class="text-center mb-5 font-weight-bold" style="font-size: 40px;">Jaguarete KAA</h1>
<div class="row d-flex justify-content-center">
  <div class="col-md-6 text-center">
    <h3 class="mb-3">ACERCA DE NOSOTROS</h3>
    <p class="text-center">
      Somos una empresa que provee productos de calidad campestre originales y auténticos desde 1877.<br>
      Junto a una familia de empresarios rurales, amigos, e inversores cercanos, nos hemos dispuesto a acercar al público <br>
      artículos de calidad frescos.
    </p>
    <br>
    <h3 class="mb-3">RESPONSABILIDAD SOCIO-AMBIENTAL</h3>
    <p class="text-center">
      Todos nuestros productos cuentan con estándares para cuidar el medioambiente.
    </p>
  </div>
</div>
     {% endblock %}