  {% extends 'layout.html' %}

{% load static %}

{% block contenido %}

<div class="card m-2">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="card-title">{{ producto.titulo }}</h2>
        </div>
    </div>
    <div class="row g-0">    
      <div class="col-md-4 p-2">
        <img src="{% static producto.imagen %}" class="img-thumbnail" alt="{{ producto.titulo }}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Categoria: {{ producto.categoria }}</h3>
          <p class="card-text">{{ producto.descripcion }}</p>
          <div class="row">
              <div class="col">
                <p class="card-text fs-3">Precio: $ {{ producto.precio }}</p>
              </div>
              <div class="col gap-2 d-flex justify-content-end">
                {% if perms.tienda.edit_product %}
                <a href="{% url 'tienda:edit_product' producto.id %}" class="btn btn-primary">Editar</a>
                <a href="{% url 'tienda:delete_product' producto.id %}" class="btn btn-primary">Eliminar</a>
                {% endif %}
                {% if user.is_authenticated %}
                <a href="{% url 'tienda:cart_prod_add' producto.id %}" class="btn btn-primary">Añadir al carrito</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary">Añadir al carrito</a>
                {% endif %}
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
