{% extends 'layout.html' %}
{% block contenido %}
  {% load static %}
  <div class="containerlistado">
    <h1 class="titulolistado">Listado de Productos "...item buscado"</h1>
        <ul>
        <a class="UltProducto" href="#"><i class="fas fa-chevron-circle-right"></i>Producto X</a>
        <h5 class="text-muted" id="descripcionproducto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quaerat!</h5>
        <a class="UltProducto" href="#"><i class="fas fa-chevron-circle-right"></i>Producto X</a>
        <h5 class="text-muted" id="descripcionproducto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quaerat!</h5>
        <a class="UltProducto" href="#"><i class="fas fa-chevron-circle-right"></i>Producto X</a>
        <h5 class="text-muted" id="descripcionproducto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quaerat!</h5>
        <a class="UltProducto" href="#"><i class="fas fa-chevron-circle-right"></i>Producto X</a>
        <h5 class="text-muted" id="descripcionproducto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quaerat!</h5>
        </ul>
</div>
  {% endblock %}