{% extends 'layout.html' %}
{% block contenido %}
  {% load static %}
  <div class="containerlistado container">
    <h1 class="titulolistado mb-5">Búsqueda</h1>
            {% if queryset_productos %}
            <p style="font-size:35px; font-weight: bold;" class="mb-3">Productos</p>
              {% for producto in queryset_productos%}
                <a href="{% url 'tienda:product' id=producto.id %}" class="uppercase">{{producto.titulo}}</a>
                <p>{{producto.descripcion}}</p>
              {% endfor %}
            {% else %}
                <p style="font-size:35px; font-weight: bold;">Productos</p>
            <p class="text-center">No se encontraron productos, busque nuevamente.</p>
            {% endif %}

            <hr class="mt-3">

            {% if queryset_categorias %}
                        <p style="font-size:35px; font-weight: bold;">Categorias</p>
              {% for categoria in queryset_categorias %}
                <a class="uppercase">{{categoria.descripcion}}</a>
              {% endfor %}
            {% else %}
              <p class="mt-3 mb-5"style="font-size:35px; font-weight: bold;">Categorias</p>
            <p class="text-center">No se encontraron categorias, busque nuevamente.</p>
            {% endif %}
</div>
  {% endblock %}